# Android/IntelliJ
*.iml
.gradle/
/build/
local.properties
/.idea/
.idea/**
!.idea/codeStyles
!.idea/runConfigurations
captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Kotlin/Java
out/

# Gradle
gradle-app.setting

